/* Your own custom styles should be here */

.navbarheight {
  height: 80px;
  background-color: white;
  margin: -10px;
}

#companylogo {
  margin-left: 30px;
  font-weight: bolder;
  font-size: 25px;
}

.alignnavitemsright {
  display: flex;
  justify-content: flex-end;
  margin-right: 25px;
}

#navlink {
  color: black;
}

.sectionone {
  height: 250px;
}

.sectionone h1 {
  margin-top: 100px;
  font-size: 55px;
  font-weight: lighter;
  margin-left: 20px;
}

.sectiontwo h2 {
  font-size: 25px;
  font-weight: lighter;
  margin-left: 20px;
  margin-bottom: 50px;
}

.cardrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 100px;
}

.card {
  margin-left: 24px;
  margin-right: 24px;
}

.card:hover {
  transform: scale(1.08);
  box-shadow: 0 14px 24px rgb(221, 216, 216), 0 8px 14px rgb(221, 216, 216);
  transition: 500ms;
}
